
.loginMainContainer{
    width: 400px;
    height: 480px;
    padding: 20px;
    margin-left: 50%;
    margin-top: 80px;
    transform: translate(-50%);
    border: 1px solid navy;
    padding-top: 70px;
    user-select: none;
    border-radius: 10px;
}
.loginItemStyle{
    border: 1px solid lightgray;
}
.loginErrorContainer{
    margin-bottom: 10px;
}
.loginErrorSpan{
    color: red;
    font-size: 10px;
}
.loginUnderLine{
    text-decoration: underline;
}
.loginHover:hover{
    color: gray;
}
.loginTitleContainer{
    width: 100%;
    text-align: center;
}
.loginTitle{
    color: rgb(13, 117, 221);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}
.loginSubTitle{
    font-weight: bold;
    color: rgb(6, 76, 146);
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.loginCreatebuttonContainer{
    margin-top: 50px;
    color: navy;
}