
.mainContainer{
    padding: 10px;
    border: 1px solid lightgray;
    user-select: none;
    --ion-background-color: white;/*#EFFEFE;*/
}
.mainSubContainer{
    padding: 0px;
}
.paymentHeader{
    text-align: center;
    text-decoration: underline white;
    --ion-background-color: DodgerBlue;
}
.headerTitle{
    font-size: 25px;
    --color: white;
}
.paymentDateAndDue{
    color: dodgerblue;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}
.paymentItems{
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}
.paymentButton{
    margin-top: 40px;
    text-align: center;
}
.paymentClickSpan{
    color: black;
    padding-left: 8px;
}
.paymentLableStyle{
    --color: blue;
}
