
.mainContainer{
    padding: 10px;
    user-select: none;
    border: 1px solid lightgray;
    /*--ion-background-color: white;*//*#EFFEFE;*/
}
.mainSubContainer{
    padding: 0px;
}
.paymentHeader{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline white;
    --ion-background-color: DodgerBlue;
}
.headerTitle{
    font-size: 25px;
    --color: white;
}
.paymentDateAndDue{
    color: dodgerblue;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.paymentItems{
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}
.paymentButton{
    margin-top: 10px;
    text-align: center;
}
.paymentClickSpan{
    color: black;
    padding-left: 8px;
}
.paymentLableStyle{
    --color: rgb(21, 115, 209);
    font-weight: bold;
}
