.registerMainContainer{
    margin-top: 40px;
    padding: 20px;
    padding-top: 70px;
    border: 1px solid navy;
    user-select: none;
    border-radius: 10px;
}
.registerItemStyle{
    border:1px solid lightgray;
    margin-bottom:15px;
    color:blue;
}