.systemBackgrund{
    --ion-background-color: var(--sys-background-color);
}
.systemHeaderbackground{
    --ion-background-color: white;
}
.systemProspectHeader{
    --ion-background-color: dodgerblue;
}
ion-menu-button{
    --color:dodgerblue;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }