/*for global widgets
this will use for any widgets*/
.hide-if-mobile{
    display: none;
}
.hide-if-desktop{
    display: block;
}
.header-hover:hover{
    color: blue;
}
@media screen and (max-width:767px){
    .hide-if-mobile{
        display: block;
    }
    .hide-if-desktop{
        display: none;
    }
}

/*for header*/
.header-main-container{
    user-select: none;
}
.header-three-dot-button{
    margin-right: 10px;
    font-size: 25px;
}
.header-desktop-lists{
    color: dodgerblue;
    margin-right: 20px;
}

/*for logo*/
.loginLogoContainer{
    z-index: 1;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: skyblue;
}
.loginLogoSubContainer{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.loginLogo{
    height: auto;
    margin-left: 50%;
    transform: translate(-50%);
}
@media screen and (max-width:767px){
    .loginLogoContainer{
        display: none;
    }
}

/*utilitySideInfo*/
.utilitySideInfoContainer{
    z-index: 1;
    position: absolute;
    width: 450px;
    user-select: none;
}
.utilitySideInfoTitle{
    color: dodgerblue;
    font-size: 55px;
    font-weight: bolder;
}
.utilitySideInfoSubTitle{
    color: navy;
    font-size: 30px;
}
@media screen and (max-width:767px){
    .utilitySideInfoContainer{
        display: none;
    }
}

/*for menuDropDown*/
.drop-down-menu-main-container{
    position: absolute;
    z-index: 99;
    right: 0;
    top: 57px;
    border: 1px solid lightgray;
    margin-right: 2px;
    --ion-background-color: white;
}
.drop-down-hover:hover{
    --ion-background-color: lightgray;
}

/*for footer*/
.footer-mobile-main-container{
    border-top: 1px solid gray;
    display: none;
}
.footer-title-container{
    width: 100%;
    text-align: center;
}
.footer-span-container{
    width: 100%;
    text-align: center;
}
.footer-icon{
    color: dodgerblue;
}
.footer-title{
    font-size: 10px;
    color: dodgerblue;
}
@media screen and (max-width:767px){
    .footer-mobile-main-container{
        display: block;
    }
}

/* for sendMail */
.send-mail-container{
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.send-mail-header{
    text-align: center;
    margin-bottom: 20px;
}
.send-mail-info{
    text-align: center;
}
.send-mail-select-option{
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
}
.send-mail-textarea{
    height: 300px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
