.loginLogoContainer{
    z-index: 999;
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: skyblue;
}
.loginLogoSubContainer{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.loginLogo{
    height: auto;
    margin-left: 50%;
    transform: translate(-50%);
}
/*utilitySideInfo*/
.utilitySideInfoContainer{
    z-index: 1155;
    position: absolute;
    width: 450px;
}
.utilitySideInfoTitle{
    color: dodgerblue;
    font-size: 55px;
    font-weight: bolder;
}
.utilitySideInfoSubTitle{
    color: navy;
    font-size: 30px;
}